body {
    text-align: center;
}
.controls {
    display: flex;
    justify-content: space-between;
    max-width: 15%;
    margin: 0 auto;
}

.number {
    text-align: center;
    width: 40px;
}

.btn {
    background-color: #a9a9a9;
    color: #ffffff;
}